// Fonts
$title: 'Permanent Marker', cursive;
$font: 'Prompt', sans-serif;
$txt: 'Caveat', cursive;

//Color 
$red: #b1060f;
$green: #28b463;
$orange: #eb984e;
$white: #ddd;
$black: #000;
$bg: hsla(222, 25%, 10%);

//Width
$mobile: 350px;
$tablet-start: 768px;
